html {
    margin: 2rem 4rem 2rem 4rem;
}

.jumbotron {
    display: flex;
    justify-content: space-around;
    align-items: center;
   

}

.foto {
    max-width:30%;    
    height:auto;
    
    
}


img {
   
    max-width:100%;
    height:auto;
    float:left;
    margin:2px;
    border:1px solid gray;
    cursor: pointer;
    
}

.dados-pessoais {
    max-width:50%;
    
}


.table {
    max-width: 30%;
}